# virtual environment
.venv/

# frames
frames/

# models
models/

# Large media files (use GitHub Releases instead)
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.webm

# __pycache__
__pycache__/

.python-version

# .DS_Store
.DS_Store

# key file
.env

# git (remove this line to track .gitignore)
# .gitignore
