mlflow==2.21.3
accelerate==1.5.2
boto3==1.34.69
configparser==5.2.0
defusedxml==0.7.1
dill==0.3.8
google-cloud-storage==2.10.0
ipython==8.25.0
lz4==4.3.2
numpy==1.26.4
pandas==1.5.3
pyopenssl==24.0.0
pytesseract==0.3.10
scikit-learn==1.4.2
tf-keras==2.17.0
torch==2.6.0
torchvision==0.21.0
transformers==4.49.0
python-dotenv==1.0.0
azure-storage-file-datalake==12.14.0
tqdm==4.66.1
opencv-python==4.8.1.78
openai==1.12.0
matplotlib==3.7.5
Pillow==10.2.0
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
requests==2.31.0